@font-face {
  font-family: dotfont;
  src: url(dot-font.ttf) format("truetype")
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #291a1a;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  animation: mvClr 5s linear infinite;
}
@keyframes mvClr {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
span {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
}
span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c52626;
  transform: scale(0.1);
  box-shadow: 0 0 10px #c52626,
              0 0 20px #c52626,
              0 0 40px #c52626,
              0 0 60px #c52626,
              0 0 80px #c52626,
              0 0 100px #c52626;
  border-radius: 50%;
  pointer-events: none;
  transition: 2s;
}
span:hover::before {
  transform: scale(1);
  transition: 0s;
}
.int {
  text-align: center;
  font-family: dotfont;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  visibility: visible;
  color: #fff;
}
body {
  background: #333;
}